<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading" style="height:40px">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>
                <form action="" method="GET">
		                 <div class="col-md-12" style="margin-top:-15px">
		                	 <div class="col-md-1"> From </div>
		         			 <div class="col-md-2"><input  class="form-control" type="text"  value="<?php echo $this->from;?>"   name="from" data-plugin-datepicker data-date-format="yyyy-mm-dd"/></div>
		         			 <div class="col-md-1"> To </div>
		         			 <div class="col-md-2"><input  class="form-control" type="text"  value="<?php echo $this->to;?>"   name="to" data-plugin-datepicker data-date-format="yyyy-mm-dd"/></div>
                             <div class="col-md-4">
                                 <select name="text"  class="col-md-12" data-plugin-selectTwo >
                                    <option value="" >All</option>
                                    <?php foreach ($this->text_select as $key => $item):?>
                                     <option value="<?php echo $item->text_search?>" <?php echo $item->text_search == $this->text ? ' selected="selected"' : ''?>><?php echo $item->text_search?></option>
                                 <?php endforeach;?>
                                </select>
                             </div>
		         			 <div class="col-md-2"><input  type="submit"  type="text"  value="Search" /></div>
		         		</div>
                </form>
            </header>
            <div class="panel-body">
                 <div class="table-responsive">
                    <?php if (is_array($this->youtube) && count($this->youtube) > 0) { ?>
                    <table class="table mb-none">
                        <tbody>
                                <tr>
                                    <td>STT </td>
                                    <td>Link</td>
                                    <td>Atribution</td>
                                    <td>Title</td>
                                    <td>Description</td>
                                    <td>Range</td>
                                    <td>Date</td>
                                    <td>Is Download</td>
                                </tr>
                             <?php $count = 1 ;foreach($this->youtube as $key => $item):?>
                                <tr data-type="download" data-id="<?php echo $item->youtube_id?>">
                                    <td><?php echo $count++?></td>
                                    <td><a href="<?php echo $item->link?>" target="_blank"><?php echo $item->youtube_id?></a></td>
                                    <td><?php echo $item->meta?></td>
                                    <td><?php echo $item->title?></td>
                                    <td>
                                        <div class="shortdescription" >
                                            <?php echo substr($item->description,0,100).'...'?>
                                        </div>
                                        <a href="javscript:void(0)" class="readmore">View more</a>
                                        <br>
                                        <div class="description" style="display: none">
                                            <?php echo $item->description?>
                                        </div>
                                    </td>
                                    <td><?php echo $item->width."x".$item->height;?></td>
                                    <td><?php echo $item->date_add?></td>
                                    <td><?php echo My_View_Admin::isActive($item)?></td>
                                </tr>
                            <?php endforeach;?>
                        </tbody>
                    </table>
                    <?php } else {
                        ?><div class="alert alert-warning" align="center">Empty Data</div><?php
                    } ?>
                </div>

            </div>
        </section>
        <?php echo $this->render('_pagination.phtml'); ?>
    </div>
</div>
<style type="text/css">
    .btn_active{
        background-color: green;
        color: #fff;
    }
    .fakeTextarea{
        width:300px;
        height: 80px;
    }

</style>

