<?php 
$this->headMeta()->appendName('description', "Thông tin nhà đất Việt Nam- Tin BĐS - Cập nhật tin nhà đất . Tin nhanh bất động sản, địa ốc Việt Nam cập nhật nhanh nhất, chính xác nhất.");
$this->headMeta()->appendName('keywords', "tin bds, tin tuc nha dat, bao bat dong san, ban tin nha dat, tin nhanh bat dong san, tin địa ốc, tap chi bat dong san, tạp chí bất động sản, tin nhanh bds, báo bất động sản");
$this->headMeta()->appendName('site_name', "Căn hộ, nhà đất, tìm kiếm nhà ở nhanh, hiệu quả");
?>
<div class="bg_banner">
    <div class="container">
        <div class="row">
            <div class="banner">

        </div>
    </div>
</div>
<div class="bg_page container" style="width:80%;margin-bottom:100px" >
    <div class="page row">
        <div class="page_left col-md-9" style="border: 1px solid rgb(236, 234, 234);">
            <?php echo $this->render('news/part/news.phtml');?>
            <div class="col-md-12" style="padding:50px">
                <?php echo $this->render('part/main/paginator.phtml');?>
            </div>
        </div>
        <div class="page_right col-md-3">
            <?php echo $this->render('news/part/page_right.phtml');?>
        </div>
        <div class="ClearBoth"></div>
    </div>
</div>
