<div class="row">
    <div class="col-md-6">
        <div class="row">
            <h2>Link report</h2>
            <?php foreach($this->list_youtube as $item):?>
                <div style="margin-top:5px;" class="shadow">
                    <?php echo "<span class='span' style='background-color:blue'>".$item->title."</span>";?>
                        <a href="/index?yId=<?php echo $item->youtube_id;?>">
                            <?php echo $item->link;?>
                        </a>
                    <?php if($item->is_report == 2){
                            $status = "reporting";
                          }elseif($item->is_report == 1){
                             $status = "reported";
                          }else{
                             $status = "coming";
                          }
                    ?>
                    <span class="span <?php echo $status?>">
                        <?php echo $status;?>
                    </span>
                    <span  class="span text" style="margin-left:5px;background-color:rgb(11, 76, 64)" >
                        <?php echo $item->type_id;?>
                    </span>
                </div>
            <?php endforeach;?>
        </div>
    </div>
     <div class="col-md-6">
         <div class="row">
            <h2>User</h2>
            <?php foreach($this->list_showing as $key => $item):?>
                <div style="margin-top:5px;">
                    <?php echo $key+1;echo ".";?>
                    <?php echo $item->email;?>
                    <?php
                          if($item->is_report == 1){
                             $status = "reported";
                          }elseif($item->is_report == 2){
                              $status = "reporting";
                          }elseif($item->is_report == 0){
                             $status = "coming";
                          }else{
                             $status = "NA";
                          }
                    ?>
                    <span class="span <?php echo $status?>">
                        <?php echo $status;?>
                    </span>
                    <span  class="span text" style="margin-left:5px;background-color:rgb(11, 76, 64)" >
                        Text
                    </span>
                    <div class="report_txt" style="display:none;cursor: pointer; ">
                          <?php echo $item->report_text;?>
                    </div>
                </div>
            <?php endforeach;?>
        </div>
     </div>
</div>
<style type="text/css">
    .span{
        padding:2px;border-radius: 2px;color:#fff;font-size: 10px;
    }
    .reporting{
        background-color:green;
    }
    .coming{
         background-color:orange;
    }
    .reported{
        background-color:red;
    }
    .NA{
         background-color:gray;
    }
    .shadow {
       -moz-box-shadow:    inset 0 0 1px #000000;
       -webkit-box-shadow: inset 0 0 1px #000000;
       box-shadow:         inset 0 0 1px #000000;
    }
</style>
<script src="/layouts/admin/assets/vendor/jquery/jquery.js"></script>
<script type="text/javascript">
    setTimeout(function(){
        location = ''
      },10000)
    $(".text").click(function(){
          $(this).parent().find('.report_txt').toggle();
    });
</script>