<div class="form-group">
    <label class="col-md-3 control-label" for="<?php echo $key?>"><?php echo $field['label']?></label>
    <div class="col-md-6">
        <input type="text" class="form-control" name="<?php echo $key?>" id="<?php echo $key?>" value="<?php echo isset($this->data->$key) ? $this->data->$key : ''; ?>" data-plugin-datepicker data-date-format="yyyy-mm-dd" />
    </div>
</div>