<?php if (isset($this->data->film_id)) { ?>
<div class="form-group">
    <label class="col-md-3 control-label"><?php echo $field['label']?></label>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <img src="/layouts/v2/img/avatar.png" width="50" height="50" style="float:left;margin:0 5px 5px" />
                <div><?php echo $this->data->film_director?><br/><span style="font-size:11px;color:#ccc">Đạo diễn</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <input type="text" class="form-control" data-plugin-selectArtist placeholder="Choose an Artist" style="width:100%" />
            </div>
        </div>
    </div>
</div>
<?php } ?>