<?php if (isset($this->data)) { ?>
<div class="form-group">
    <label class="col-md-3 control-label"><?php echo $field['label']?></label>
    <div class="col-md-9">
        <?php
        foreach ($this->data->images[$field['image']['type']] as $img) {
            ?><img src="<?php echo $img->size1?>" width="auto" height="50" /><?php
        } ?>
    </div>
</div>
<?php } ?>