<?php if (isset($this->data)) { ?>
<div class="form-group">
    <label class="col-md-3 control-label"><?php echo $field['label']?></label>
    <div class="col-md-9">
        <?php
        $images = isset($field['image']['type']) ? array($field['image']) : $field['image'];
        foreach ($images as $img) {
            $key = isset($img['key']) ? $img['key'] : 'path';
            $height = isset($img['imgh']) ? $img['imgh'] : ($img['height'] > 150 ? 150 : $img['height']);
            $width = isset($img['imgw']) ? $img['imgw'] : ($img['width'] * $height / $img['height']);
        ?>
        <img class="img-uploader" alt="Image"
            src="<?php echo isset($this->data->$key) ? $this->data->$key : '/layouts/admin/img/size.png'; ?>"
            width="<?php echo $width?>"
            height="<?php echo $height?>"
            data-width="<?php echo $img['width']?>"
            data-height="<?php echo $img['height']?>"
            data-type="<?php echo $img['type']?>"
            data-size="<?php echo $img['size']?>"
            data-form="<?php echo $this->form['form']?>"
            data-pkid="<?php echo $this->data->{$this->form['primary']}?>"
            style="vertical-align:bottom"
        />
        <?php } ?>
    </div>
</div>
<?php } ?>