<div class="form-group">
    <label class="col-md-3 control-label" for="<?php echo $key?>"><?php echo $field['label']?></label>
    <div class="col-md-6">
        <input type="hidden" class="form-control" name="<?php echo $key?>" id="datePick" value="<?php echo isset($this->data->$key) ? $this->data->$key : ''; ?>" />
    </div>
</div>

<div id="full-year" class="box"></div>


    <script src="/layouts/v2/assets/vendor/jquery/jquery.js"></script>
    <link rel="stylesheet" href="/layouts/v2/js/multidate/css/pepper-ginder-custom.css"/>
    <script src="/layouts/v2/js/multidate/jquery-ui-1.11.1.js"></script>
    <script src="/layouts/v2/js/multidate/jquery-ui.multidatespicker.js"></script>
    <script>
        /*$('#datePick').multiDatesPicker({
        	  dateFormat: "yy-mm-dd"});*/
        var dates  = ($('#datePick').val()!= '')?$('#datePick').val().split(','):'';
        var today = new Date();
		var y = today.getFullYear();
		$('#full-year').multiDatesPicker({
			numberOfMonths: [3,4],
			dateFormat: "yy-mm-dd",
			altField: '#datePick',
			addDates: dates,
		});
    </script>
