 <div class="left-wrapper pull-left " style="margin-top:10px;margin-left:30%;">
    <form action="/search/index" class="form-horizontal form-bordered" method="get">
        <div style="float:left;">
            <input type="text" class="form-control" name="s"  value="<?php echo isset($this->search[0])?$this->search[0]:''?>" onkeypress="return runScript(event,this.form)" >
        </div>
        <div style="float:left;">
         <select  data-plugin-selectTwo  name="type" style="float:left;margin-left:5px">
             <option value="1" <?php echo  (isset($this->search[1]) && $this->search[1] ==1 )?'selected = selected':''?>>Film</option>
             <option value="2" <?php echo (isset($this->search[1]) && $this->search[1] ==2 )?'selected = selected':''?>>News</option>
             <option value="3" <?php echo (isset($this->search[1]) && $this->search[1] ==3 )?'selected = selected':''?>>Artist</option>
             <option value="4" <?php echo (isset($this->search[1]) && $this->search[1] ==4 )?'selected = selected':''?>>Trailer</option>
             <option value="5" <?php echo (isset($this->search[1]) && $this->search[1] ==5 )?'selected = selected':''?>>Cinema</option>
         </select>
        </div>
    </form>
</div>
<script>
  function runScript(e,f) {
    if (e.keyCode == 13) {
          f.submit();
    }
}
</script>