<div class="form-group">
    <label class="col-md-3 control-label" for="inputDefault"><?php echo $field['label']?></label>
    <div class="col-md-6">
        <select name="<?php echo $key?>" class="form-control mb-md" data-plugin-selectTwo>
            <?php foreach ($field['list'] as $id => $value) { ?><option <?php echo (isset($this->data->$key) && $id == $this->data->$key) ? 'selected="selected"' : ''; ?> value="<?php echo $id?>"><?php echo $value?></option><?php } ?>
        </select>
    </div>
</div>