<div class="form-group">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <textarea  name="<?php echo $key?>" id="text-body" cols="79" rows="25"><?php echo isset($this->data->$key) ? $this->data->$key : ''; ?></textarea>
    </div>
</div>
<script src="/layouts/admin/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
	tinyMCE.init({
		// General options
		mode : "exact",
       	elements : "text-body",
		theme : "advanced",
		plugins : "style,layer,table,advhr,advimage,advlink,preview,media,contextmenu,paste,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,wordcount,advlist",

		// Theme options
		theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,forecolor,backcolor,bullist,numlist,outdent,indent,|,styleselect,formatselect,fontselect,fontsizeselect",
		theme_advanced_buttons2 : "blockquote,undo,redo,link,unlink,image,code,preview,|,tablecontrols,visualaid,sub,sup,charmap,media,fullscreen,removeformat",
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		theme_advanced_statusbar_location : "bottom",
		theme_advanced_resizing : true,

		// Example content CSS (should be your site CSS)
		// using false to ensure that the default browser settings are used for best Accessibility
		// ACCESSIBILITY SETTINGS
		content_css : "/layouts/admin/js/tiny_mce/style.css",
		// Use browser preferred colors for dialogs.
		browser_preferred_colors : true,
		detect_highcontrast : true,

		// Drop lists for link/image/media/template dialogs
		template_external_list_url : "lists/template_list.js",
		external_link_list_url : "lists/link_list.js",
		external_image_list_url : "lists/image_list.js",
		media_external_list_url : "lists/media_list.js",

	    // Style formats
        style_formats : [
            {title : 'Description', block : 'p', classes: 'description'},
            {title : 'News Source', block : 'p', classes: 'source'},
            {title : 'Image Caption', block : 'p', classes: 'imgcaption'},
            {title : 'Extra Content', block : 'div', classes: 'extra-content'}
        ]
	});
</script>
