<div class="form-group">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <textarea name="<?php echo $key?>" class="summernote" data-plugin-summernote data-plugin-options='{"height":400}'><?php echo isset($this->data->$key) ? $this->data->$key : ''; ?></textarea>
    </div>
</div>