<?php 
$this->headMeta()->appendName('description', "Bán căn hộ, đất nền đẹp rẻ giá gốc từ chủ đầu tư. Hỗ trợ vay 30000 tỷ nhanh gọn, trả góp không lãi suất, nhiều ưu đãi hấp dẫn.Cho thuê căn hộ chung cư tại Việt Nam: với các loại diện tích, giá cho thuê, địa điểm khác nhau. Cho thuê căn hộ chung cư tại Việt Nam, thuê và cho thuê nhà đất, đầy đủ, cập nhật nhất.");
$this->headMeta()->appendName('keywords', "Căn hộ, bất động sản, đất nền, vay vốn bất động sản, căn hộ giá rẻ, văn phòng, nhà ở, đất nền bình dương, cho thuê nhà giá rẻ");
$this->headMeta()->appendName('site_name', "Căn hộ, nhà đất, tìm kiếm nhà ở nhanh, hiệu quả");
?>
<div class="annotation">
    <div id="wrapper">
        <div id="zoom-slider">
              <?php foreach ($this->banner_slide as $id => $banner):?>
                <img src="<?php echo $banner->banner_image?>" alt="" id="<?php echo $id;?>" style="display: none;">
              <?php endforeach;?>
        </div>
    </div>
    <div class="slide-footer" style="display: block;">
        <div class="footer-wrapper">
             <?php foreach ($this->news as $id => $news):?>
                <div class="block3 <?php echo ($id == 0)?'first':''?><?php echo ($id == 1)?'last':''?>">
                    <a title="<?php echo $news->news_title;?>" href="<?php echo $news->news_url;?>">
                    <h2><?php echo $news->news_title;?></h2>
                    <span class="desc"><?php echo $news->news_description;?></span>
                    </a>
                </div>
            <?php endforeach;?>

        </div>
    </div>
</div>