/* Add here all your CSS customizations */
#modal-upload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.9);
    display: none;
    z-index: 9999;
}
#iframe-upload {
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    width: 80%;
    height: 80%;
    border: 0;
    outline: 0;
}

.justified-gallery .delete {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: red;
    font-size: 16px;
    display: none;
}
.justified-gallery .delete:hover {
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
}
.justified-gallery .item:hover .delete {
    display: block;
}

#list-actor {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#list-actor li {
    float: left;
    width: 100%;
    position: relative;
}
#list-actor li:hover .delete {
    display: inline;
}
#list-actor .delete {
    display: none;
    font-size: 16px;
}
#list-actor .delete:hover {
    color: blue;
    cursor: pointer;
}
#list-actor img {
    float: left;
    margin: 0 5px 5px;
}
#list-actor .character {
    font-size: 11px;
    color: #ccc;
}

#input-actor .item {
    margin: 5px 0;
}

.search-box {
    margin: 8px 50px 0 0;
    width: 300px;
}
.search-box input[type="text"] {
    border-radius: 30px 0 0 30px;
    background-color: #333;
    border-color: #555;
    color: #fff;
}
.search-box button {
    border-radius: 0 30px 30px 0;
    background-color: #333;
    border-color: #555;
    white-space: nowrap;
    color: #aaa;
}
.search-box button .caret {
    color: #aaa;
}

@media all and (max-width: 980px) {
    .search-box {
        display: none;
    }
}