<div class="container" style="width:80%;margin-bottom:20px;">
	<div class="row">
		<div style="width:100%;height:40px;"></div>

        <div id="slider1_container" class="slide" style="position: relative; top: 0px; left: 0px; width: 1000px;
            height: 526px; background: #191919; overflow: hidden;">

            <?php echo $this->render('product/part/main_slide.phtml'); ?>
            <?php echo $this->render('product/part/price.phtml'); ?>
            <?php echo $this->render('product/part/sppanel.phtml'); ?>
            <?php echo $this->render('product/part/arrow_slide.phtml'); ?>

        </div>
        <!-- Jssor Slider End -->
	</div>
    <div class="row" style="margin-top:20px">
         <?php echo $this->render('product/part/content.phtml'); ?>
    </div>
</div>
