<?php
if (!isset($this->pagination)) return;
if (!isset($this->pagination->pageCount) || $this->pagination->pageCount < 2) return;
?>
<ul class="pagination" style="margin:0;float:right">
    <li class="prev"><a href="<?php printf($this->pagination->pageLink, $this->pagination->first)?>?<?php echo http_build_query($_GET)?>"><span class="fa fa-chevron-left"></span></a></li>
    <?php foreach ($this->pagination->pagesInRange as $page): ?>
    <li class="<?php echo $this->pagination->current == $page ? 'active' : ''; ?>"><a href="<?php printf($this->pagination->pageLink, $page)?>?<?php echo http_build_query($_GET)?>"><?php echo $page?></a></li>
    <?php endforeach; ?>
    <li class="next"><a href="<?php printf($this->pagination->pageLink, $this->pagination->last)?>"><span class="fa fa-chevron-right"></span></a></li>
</ul>