<div id="taskbar">
    <a href="/" class="icon left"><i class="img sprite-taskbar-back"></i></a>
    <span class="title">Lỗi</span>
</div>
<div class="content">
    <div style="padding:20px; text-align:center">Không tìm thấy trang bạn cần tìm</div>
    <br>
    <?php if (isset($this->exception)) echo $this->exception->getMessage()?>
</div>