<tr data-type="banner" data-id="<?php echo $this->banner_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/admin/banner/detail/id/<?php echo $this->banner_id?>/"><img src="<?php echo $this->banner_image?>" width="20" height="20"/></a></td>
    <td><a href="/admin/banner/detail/id/<?php echo $this->banner_id?>/"><?php echo $this->banner_title?></a></td>
    <td><?php echo $this->position?></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
    <td class="actions" style="vertical-align:top"><a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a></td>
</tr>