<tr data-type="recommend" data-id="<?php echo $this->re_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/film/detail-recommend/id/<?php echo $this->re_id?>/"><img src="<?php echo $this->size1?>" width="50" height="50" /></a></td>
    <td><a href="/film/detail-recommend/id/<?php echo $this->re_id?>/"><?php echo $this->film_name?></a></td>
    <td><?php echo $this->number?></td>
    <td><?php echo $this->is_active?></td>
    <td class="actions" style="vertical-align:top"><a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a></td>
</tr>