<tr data-type="Coupon" data-id="<?php echo $this->coupon_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><?php echo $this->coupon_code?></td>
    <td><?php echo My_View_Admin::agodaCouponStatus($this->status_id)?></td>
    <td><?php echo $this->date_add?></td>
    <td><?php echo $this->date_send?></td>
    <td><?php echo $this->date_use?></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
</tr>