<tr data-type="Location" data-id="<?php echo $this->location_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/location/detail/id/<?php echo $this->location_id?>/"><?php echo $this->city_name?></a></td>
    <td><?php echo $this->location_name?></td>
    <td><?php echo $this->number?></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
</tr>