<tr data-type="meta" data-id="<?php echo $this->meta_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/admin/meta/detail/id/<?php echo $this->meta_id?>/"><?php echo $this->controller?><?php echo $this->action?></a></td>
    <td><?php echo $this->meta_title?></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
    <td class="actions" style="vertical-align:top"><a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a></td>
</tr>