<tr data-type="Pcinema" data-id="<?php echo $this->p_cinema_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><img src="<?php echo $this->p_cinema_logo?>" alt="logo" width="20" width="20" /></td>
    <td><a href="/cinema/detail-group/id/<?php echo $this->p_cinema_id?>/"><?php echo $this->p_cinema_name?></a></td>
    <td><?php echo $this->number?></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>

</tr>