<tr data-type="Room" data-id="<?php echo $this->room_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/room/detail/id/<?php echo $this->room_id?>/"><?php echo $this->room_name?></a></td>
    <td><?php echo $this->p_cinema_code?></td>
    <td><?php echo $this->room_code?></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
</tr>