<tr>
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/<?php echo $this->detail?>/detail/id/<?php echo $this->id?>/"><img src="<?php echo $this->image?>" width="50" height="50" /></a></td>
    <td><a href="/<?php echo $this->detail?>/detail/id/<?php echo $this->id?>/"><?php echo $this->title?></a><br/><?php echo $this->status?></td>
    <td><?php echo $this->is_active?></td>
</tr>