<tr data-type="users" data-id="<?php echo $this->user_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/admin/user/detail/id/<?php echo $this->user_id?>/"><?php echo $this->computer?></a></td>
    <td><a href="/admin/user/detail/id/<?php echo $this->user_id?>/"><?php echo $this->email?></a></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
    <td class="actions" style="vertical-align:top"><a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a></td>
</tr>
