
<tr data-type="youtube" data-id="<?php echo $this->youtube_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/admin/youtube/detail/id/<?php echo $this->youtube_id?>/"><?php echo $this->link?></a></td>
    <td><a href="/admin/youtube/detail/id/<?php echo $this->youtube_id?>/"><?php echo $this->title?></a></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
    <td class="actions" style="vertical-align:top"><a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a></td>
</tr>