<?php foreach ($this->cats as $id => $cat):?>
<div class="row panel panel<?php echo $cat->category_id;?>">
	<div class="col-md-12"><h3><?php echo $cat->category_name;?></h3></div>
	<?php if(count($cat->list_product)>0):?>
	<div class="col-md-12">
		<div class="col-md-6 col-ms-12">
		  <?php $featured = array_shift($cat->list_product); ?>
		  <?php foreach ($cat->list_product as $key => $product):?>
			<div class="product-item">
				<a href="<?php echo Utility_Unicode::convertLink(0, $product->product_id, $product->product_slug)?>">
					<img src="<?php echo $product->image?>" width="150px" height="75px" />
				</a>
				<div class="product-item-name">
					<a href="<?php echo Utility_Unicode::convertLink(0, $product->product_id, $product->product_slug)?>"><?php echo $product->product_name?></a>
				</div>
			</div>
		 <?php endforeach;?>
		</div>
		<div class="product-featured col-md-6" >
			<img  src="<?php echo $featured->image?>" width="450px">
			<a href ="<?php echo Utility_Unicode::convertLink(0, $featured->product_id, $featured->product_slug)?>"><?php echo $featured->product_name?></a>
		</div>
	</div>
	<?php endif;?>
</div>
<?php endforeach;?>
