<div class="product_price" >
        <div class="price_title" style="width:100%;height:142px;border-radius:5px;background-color:rgba(0, 0, 0, 0.6);">

            <span class="price_text" >Giá khởi điểm (vnđ)</span>
            <div class="price">
               <?php echo number_format($this->product->product_price)?>
                <span class="price_cur" >(VNĐ)</span>
            </div>
            <div class="price_vat" >Giá đã bao gồm VAT</div>

        </div>
        <div  style="width:100%;margin-top:5px">
            <div class="icon" style="width:100%;font-size:15px">
                Hotline: <b style="font-size:16px">01649672178</b>
            </div>
            <div  style="clear:both"></div>
        </div>
</div>