<?php foreach($this->list_news as $key => $list):?>
<div class="news-item" style="float:left;width:220px;padding:5px;
-webkit-box-shadow: -1px 11px 30px 0px rgba(50, 50, 52, 0.4);
-moz-box-shadow:    -1px 11px 30px 0px rgba(50, 50, 52, 0.4);
box-shadow:         -1px 11px 30px 0px rgba(50, 50, 52, 0.4);
margin:15px" >
	<img style="border: 5px solid rgb(231, 231, 231);" src="<?php echo $list->size2;?>"  width="200px" height="150px" />
	<div class="news-item-tile">
		<h4 style="color:red">
			<a href="<?php echo Utility_Unicode::convertLink(1, $list->news_id, $list->news_slug)?>">
			<?php echo $list->news_title;?>
			</a>
		</h4> </div>
	<div class="news-description">
		<?php echo substr($list->news_description, 0, 215) . '...';?>
	</div>
</div>
<?php endforeach; ?>