<div class="news-title" style="color:red"><h1><?php echo $this->news->news_title;?></h1></div>
<div class="datenewsdetail">
      <ul>
          <li>
                <?php echo $this->news->date_add?> | <font style="font-family:Arial, Helvetica, sans-serif;color:#666666;padding-left:5px;font-size:11px;text-decoration:underline;"><a href="javascript:void(0)">datxanh</a></font>
          </li>
          <li class="source">
              <a class="email" href="javascript:void(0)">
                <img src="/layouts/web/img/news_mail.jpg" width="18" height="16" border="0"></a>
                <img src="/layouts/web/img/news_mail_linel.jpg" width="8" height="17" border="0">
              <a class="print" href="javascript:void(0)">
                <img src="/layouts/web/img/news_printl.jpg" width="18" height="16" border="0">
              </a>
          </li>
      </ul>
</div>
<div class="content">
  <?php echo $this->news->content;?>
</div>
<div class="background_about">Tin tức khác</div>
<div class="othernews" >
        <ul>
        <?php foreach($this->list_relate as $key => $list):?>
            <li>
                <a href="<?php echo Utility_Unicode::convertLink(1, $list->news_id, $list->news_slug)?>" class="link-othernews"><?php echo $list->news_title?></a>
                <span style="color: #909090">&nbsp;(<?php echo $list->date_add?>)</span>
            </li>
        <?php endforeach;?>
        </ul>
</div>