
<div class="menuright">
	<div class="menu_line1"><!-- --></div>
    <ul>
                          
        <li><a class="" href="http://namlongvn.com/vn/news/LoadByNewsType/16/chuong-trinh.html"> Chương trình</a></li>                     
        <li><a class="" href="http://namlongvn.com/vn/news/LoadByNewsType/13/thong-tin-niem-yet-co-phieu-nlg.html"> Thông tin niêm yết-Cổ phiếu NLG</a></li>                     
        <li><a class="" href="http://namlongvn.com/vn/news/LoadByNewsType/9/tin-trong-nganh.html"> Tin trong ngành</a></li>                     
        <li><a class="" href="http://namlongvn.com/vn/news/LoadByNewsType/8/tin-noi-bo.html"> Tin nội bộ</a></li> 
        
        <li><a href="http://namlongvn.com/vn/gallery-group.html">Hình ảnh &amp; Phim</a></li>
    </ul>
    <div class="menu_line2"><!-- --></div>
</div>
<div class="banner-adv">
    <h2>Dự án đang chào bán</h2>
                                <a target="_blank" href="http://ehome5.vn">
            <img src="http://namlongvn.com/uploads/images/banner/0.365433001400723822Ehome5_cam16.2014.01.04.jpg" alt="EHOME+ : The BridgeView" title="EHOME+ : The BridgeView"> 
            <h3>EHOME+ : The BridgeView</h3>
        </a> 
                                <a target="_blank" href="http://ehome3.vn/">
            <img src="http://namlongvn.com/uploads/images/banner/0.607551001385634656Quyhoach-Toankhu-EHOME3_11-6-2013.jpg" alt="Ehome 3 - Tây sài gòn" title="Ehome 3 - Tây sài gòn"> 
            <h3>Ehome 3 - Tây sài gòn</h3>
        </a> 
                                <a target="_blank" href="http://www.ehome4.vn">
            <img src="http://namlongvn.com/uploads/images/banner/0.820887001385634735can_ho_ehome_4_-_tong_the.jpg" alt="Ehome 4 - Bắc sài gòn" title="Ehome 4 - Bắc sài gòn"> 
            <h3>Ehome 4 - Bắc sài gòn</h3>
        </a> 
                                <a target="_blank" href="http://namlongvn.com/vn/land/detail/37/khu-dan-cu-an-thanh.html">
            <img src="http://namlongvn.com/uploads/images/banner/0.005598001385634832phoi_canh_MBTT.jpg" alt="Khu thương mại an thạnh" title="Khu thương mại an thạnh"> 
            <h3>Khu thương mại an thạnh</h3>
        </a> 
</div>

